@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family:"JetBrains Mono";
}

.landing-page-title {
    font-size: xx-large;
    align-items: center;
}

@layer components {
    body {
        @apply bg-base flex flex-col h-screen;
    }

    main {
        @apply grow;
    }

    .center-div {
        @apply flex justify-center items-center text-center;
    }
}